@model TiendaTecnologica.Models.Item

    <tr>
        <form id= "CarritoForm" asp-controller="Productos" asp-action="ModificarDelCarrito">

            @Html.HiddenFor(model => model.ItemId)
            @Html.HiddenFor(model => model.Descripcion)
            @Html.HiddenFor(model => model.Precio)
            <th scope="col">
                @Html.DisplayFor(model => model.Descripcion)
            </th>
            <th scope="col">
                ₡ @Html.DisplayFor(model => model.Precio)
            </th>
            <th scope="col">
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { min = 1, max = 5 } })
            </th>
            <th scope="col">
                <a id="ModificarCarrito" class=""><i class="fas fa-edit"></i></a>
        </form>
        <a id="agregarAlCarrito" asp-controller="Productos" asp-action="EliminarDelCarrito" asp-route-idProducto='@(Model.ItemId)'
           class=""><i class="fas fa-trash-alt"></i></a>
        </th>
    </tr>

